.content {
  display: grid;
  text-align: center;
  align-content: center;
  margin: 10px;
}

.send-button {
  width: 280px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
}

.input-field {
  width: 350px;
  text-align: center;
}

.main-text {
  font-size: 20px;
}