.main-spacer {
  flex: 1 1 auto;
}

body {
  font-family: sans-serif;
}

.videos {
  margin-top: 5px;
  text-align: center;
  height: 50%;

  video {
    width: 49%;
    height: 50vh;
    margin: 3px;
  }
}