.main-spacer {
  flex: 1 1 auto;
}

body {
  font-family: sans-serif;
}

.title {
  text-align: center;
  margin: 10px;
}

.media {
  margin-top: 5px;
  text-align: center;
  height: 50%;

  video {
    width: 48%;
    height: 50vh;
    margin: 3px;
  }

  audio {
    width: 48%;
    height: 40vh;
    margin: 3px;
  }
}

.mic {
  margin-right: 10px;
}